
.w3-display-bottomleft w3-container w3-text-white{
    background: gray
}

nav li a {
    list-style-type: none;
    display: block;
    color: #000;
    padding: 8px 10px;
    margin: 0;
    text-decoration: none;
}

nav li a.active {
    list-style-type: none;
    background-color:purple;
    color: white;
}

nav li a:hover:not(.active) {
    list-style-type: none;
    background-color: #555;
    color: white;
}




